div.player {
    width: 400px;
    height: 600px;
    background-color: aquamarine;
}

div.title {
    text-align: center;
}

#jasmine_content {
    text-align: center; /*水平居中*/
    height: 400px;
    width: 400px;
    line-height: 400px; /*图片垂直居中*/
}

#cd {

}

#lyr {
    height: 400px;
    width: 400px;
    overflow: scroll;
    text-align: center;
    line-height: 25px;
    letter-spacing: 0.4px;
    padding-bottom: 200px;
    padding-top: 200px;
}

p:first-line {
    font-size: 20px;
    color: #000;
}


