.player {
    width: 400px;
    height: 600px;
    background-color: #787878;
}

.title {
    height: 60px;;
    text-align: center;

}

.content {
    text-align: center; /*水平居中*/
    height: 440px;
    width: 400px;
    line-height: 400px; /*图片垂直居中*/
    position: relative;
}

.actionbar{
    height: 100px;
}

#slider-down{
    position: absolute;
    left: 10px;
    top: 10px;
    z-index:1;
    display: block;
    -webkit-appearance: none;
    width: 100%;
    height: 2.5px;
    border-radius: 1.25px;
    margin: 0 auto;
    outline: 0;
    background-color: gainsboro;
}

#slider-up{
    position: absolute;
    left: 10px;
    top: 10px;
    z-index:2;
}

#range{
    position: relative;
}

input[type="range"] {
    display: block;
    -webkit-appearance: none;
    width: 100%;
    height: 2.5px;
    border-radius: 1.25px;
    margin: 0 auto;
    outline: 0;
    background: -webkit-linear-gradient(#CD3333, #CD3333) no-repeat;
    background-size: 0% 100%;
}

/****
input[type="range"]:before{
    content: '';
    width: 10px;
    height: 3px;
    background-color: blue;
}
*/

input[type="range"]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    background-color: #CD3333;
    width: 15px;
    height: 15px;
    border-radius: 50%;
    border: 5px solid white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    /*-webkit-box-shadow: 0 1px 1px black inset;*/
}

.row {
    margin: 10px;
}

.col-xs-2 {
    padding-left: 10px;
    padding-right: 10px;
}

#lyr {
    height: 400px;
    width: 400px;
    overflow: scroll;
    text-align: center;
    line-height: 25px;
    letter-spacing: 0.4px;
    padding-bottom: 200px;
    padding-top: 200px;
}

p:first-line {
    font-size: 20px;
    color: #000;
}

.img{
    position:absolute;
    z-index:1;
    top:85px;
    left:65px;
    width: 270px;
}

.img-circle{
    position:absolute;
    z-index:2;
    top:130px;
    left:110px;
    width: 180px;
}

.img-needle{
    position: absolute;
    width: 100px;
    z-index:3;
    top: 0px;
    left: 180px;
    -webkit-transform-origin:0 0;

}

