<div class="player">

    <div class="title">
        <p>{{selectedAudio?.title}}<br>
            {{selectedAudio?.singer}}</p>
    </div>

    <div class="content">
        <div (click)="changeLyricOrCd()" [hidden]="lyricOrCd" id="cd">
            <img src="https://raw.githubusercontent.com/goo4it/MediaPlayer/master/app/src/main/res/drawable-xxhdpi/play_needle.png"
                 id="img-needle"
                 [@audioState]="state">
            <img [src]="selectedAudio?.img" class="img-circle" id="img-cycle">
            <img src="https://raw.githubusercontent.com/goo4it/MediaPlayer/master/app/src/main/res/drawable-xxhdpi/play_disc.png"
                 id="img-dish">
        </div>
        <div (click)="changeLyricOrCd()" [hidden]="!lyricOrCd" id="lyr">
        </div>

        <!-- <p>{{line}}</p>    -->
    </div>

    <div class="actionbar">
        <div class="row">
            <div class="col-xs-2">
                <time>{{myAudio.currentTime | audioTime}}</time>
            </div>
            <div class="col-xs-8">
                <div id="range">
                    <div id="slider-down"></div>  <!--两层slider，这是底层slider-->
                    <input id="slider-up"
                           name="range"
                           type="range"
                           min="0"
                           max="1000"
                           step="1"
                           [(ngModel)]="completed"
                           (input)="changeRange(input.value)"
                           #input>

                </div>
            </div>
            <div class="col-xs-2">
                <time>{{myAudio.duration | audioTime}}</time>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-3">
                <button type="button" class="btn btn-default" (click)="playModeSelect()">
                    <span *ngIf="isCycle" class="glyphicon glyphicon-retweet"></span>
                    <span *ngIf="isSingle" class="glyphicon glyphicon-repeat"></span>
                    <span *ngIf="isRandom" class="glyphicon glyphicon-random"></span>
                </button>
            </div>
            <div class="col-xs-3">
                <button type="button" class="btn btn-default" (click)="playBackward()">
                    <span class="glyphicon glyphicon-step-backward"></span>
                </button>
            </div>
            <div class="col-xs-3">
                <button type="button" class="btn btn-default" (click)="playOrPause()" >
                    <span class="glyphicon glyphicon-play" aria-hidden="false" *ngIf="!isPlay"></span>
                    <span class="glyphicon glyphicon-pause" aria-hidden="true" *ngIf="isPlay"></span>
                </button>
            </div>
            <div class="col-xs-3">
                <button type="button" class="btn btn-default" (click)="playForward()">
                    <span class="glyphicon glyphicon-step-forward"></span>
                </button>
            </div>
        </div>
    </div>
</div>