<div class="col-xs-12">
    <div class="progress" style="position:relative;">
        <div class="progress-bar" role="progressbar" aria-valuenow="20" aria-valuemin="0" aria-valuemax="1000"
             style="min-width: 60%;">
        </div>
    </div>
</div>
<img src="http://img1.imgtn.bdimg.com/it/u=1881811150,3126335149&fm=21&gp=0.jpg" alt="" class="img-circle">
<img src="http://img2.imgtn.bdimg.com/it/u=1985744488,1645890010&fm=21&gp=0.jpg" alt="" class="img-circle">
<img src="http://p3.music.126.net/q7IHr82DDRcT3K79Z5pHzA==/18542164091404658.jpg" alt="" class="img-circle">
<input type="checkbox" [checked]="true">
<hr>
{{line}}
<p>error</p>
<hr>
<div class="container" id="lyricBox">
    <div class="content" *ngFor="let lyr of lyric3">
        <p>{{lyr}}</p>
    </div>
</div>
<button (click)="scrollTo()">click</button>
<br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>
