.container {
    border: 2px solid blue;
    height: 600px;
    width: 400px;
    margin-left: 10px;
    overflow: scroll;
    padding-bottom: 300px;
    padding-top: 300px;
    text-align: center;
}

.content {
    line-height: 30px;
}

input[type="range"] {
    display: block;
    -webkit-appearance: none;
    background-color: cornsilk;
    width: 100%;
    height: 10px;
    border-radius: 2px;
    margin: 0 auto;
    outline: 0;
    background: -webkit-linear-gradient(#059CFA, #000000) no-repeat;
    background-size: 0% 100%;
    border: 1px solid black;
}



input[type="range"]:before{
    content: '';
    width: 10px;
    height: 3px;
    background-color: blue;
}

input[type="range"]::-webkit-slider-thumb {
    position: relative;
    -webkit-appearance: none;
    background-color: #c70c0c;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid white;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    -webkit-box-shadow: 0 1px 1px black inset;
}

/**********图片旋转动画*************/

div{
    position: relative;
    background: #ceb7ff;
}

.rotate{
    background: grey;
    text-align: center;
    height: 400px;

}
.img{
    position:absolute;
    z-index:1;
    top:0px;
    left:0px;
    width: 300px;
}

.img-circle{
    position:absolute;
    z-index:2;
    top:50px;
    left:50px;
    width: 200px;
}

.needle{
    position: relative;
}

.img-needle{
    position: absolute;
    width: 150px;
    -webkit-transform-origin:0 0;

}





